<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Share</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/imgs/favicon-16x16.png">
    <link rel="manifest" href="/static/imgs/site.webmanifest">
    <link rel="mask-icon" href="/static/imgs/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <section class="bg-white dark:bg-gray-900 flexer">
        <div class="flex justify-center py-8 px-4 mx-auto max-w-screen-xl">
            <div class="max-w-2xl">
                <div class="mb-12">
                    <a href="/"><img src="/static/imgs/logo2.png " class="max-w-sm mx-auto" alt="Logo"></a>
                </div>
                <div class="share-intro">hey {{ secret.confidante }}!</div>
                <div class="share-text"><strong>{{ secret.name }}</strong> wants to share a secret with you!</div>
                <div class="reveal">
                    <input type="checkbox" id="moreInfo">
                    <div class="mi-outer">
                        <div class="mi">
                            <div class="mi-flap2"></div>
                            <label for="moreInfo" class="mi-flap1"></label>
                            <div class="mi-flap5">
                                <div class="mi-info"></div>
                            </div>
                            <div class="mi-flap4">
                                <style>.mi .mi-info::after { content: "{{ secret.message }}"; text-align: center }</style>
                                <div class="mi-info">
                                    <label for="moreInfo" class="mi-close">X</label>
                                </div>
                            </div>
                            <div class="mi-flap3">
                            <div class="mi-info"></div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </section>
    <footer>
       <p>Send {{ secret.confidante }} this <a href="{{ url }}">url</a> to let them know!</p>
    </footer>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</body>
</html>